
@import '../variables.scss';

@media only screen and (min-width: 992px) {

  #confirmation-code-area div {
    float: none !important;
    width: 100% !important;
  }

  #confirmation-code-area .form-control-feedback {
    top: 6px !important;
    right: 6px !important;
  }

  #emails-form .form-control-feedback {
    top: 6px !important;
    right: 6px !important;
  }
  body {
    /*  background-color: $blue; */
  }

}

@media (max-width: 992px) {
  #emails-form .form-control-feedback {
    top: 6px !important;
    right: 6px !important;
  }
}

@media (max-width: 767px) {
  #emails-form .form-control-feedback {
    top: 8px !important;
    right: 11px !important;
  }

  #personal-data-button {
    margin-left: auto!important;
    margin-right: auto !important;
    margin-top: 20px !important;
    display: block !important;
  }
}


  .nobutton {
    text-transform: uppercase;
    font-weight: bold;
  }

  .help-block .alert-warning {
    border: 2px solid #faebcc !important;
    background-color: transparent !important;
  }
