
@import '../variables.scss';

@media only screen and (min-width: 992px) {

  #mobile-form .form-control-feedback {
    top: 6px !important;
    right: 6px !important;
  }
  body {
    /*  background-color: $blue; */
  }

}

@media only screen and (min-width: 992px) {

  .nobutton {
    text-transform: uppercase;
    font-weight: bold;
  }

  #confirmation-code-area div {
    float: none !important;
    width: 100% !important;
  }

  #confirmation-code-area .form-control-feedback {
    top: 6px !important;
    right: 6px !important;
  }

}


@media (max-width: 767px) {
  #mobile-form .form-control-feedback {
    top: 8px !important;
    right: 11px !important;
  }

}

  .emailrow .text-muted {
    padding: 0 25px !important;
  }

