
@import '../variables.scss';


body {
/*  background-color: $blue; */
}

meter {
  width: 100%
}

//[> Webkit based browsers <]
//meter[value="1"]::-webkit-meter-optimum-value { background: red; }
//meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
//meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
//meter[value="4"]::-webkit-meter-optimum-value { background: green; }

 //[> Gecko based browsers <]
//meter[value="1"]::-moz-meter-bar { background: red; }
//meter[value="2"]::-moz-meter-bar { background: yellow; }
//meter[value="3"]::-moz-meter-bar { background: orange; }
//meter[value="4"]::-moz-meter-bar { background: green; }


//meter { -webkit-appearance: none; } //Crucial, this will disable the default styling in Webkit browsers

//meter::-webkit-meter-bar {
    //background: #FFF;
    //border: 1px solid #CCC;
//}

//meter::-webkit-meter-optimum-value {
    //background: #87C7DE;
    //background: -moz-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1d4e6), color-stop(100%, #6bb4d1));
    //background: -webkit-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
    //background: -o-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
    //background: -ms-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
    //background: linear-gradient(to bottom, #a1d4e6 0%, #6bb4d1 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1d4e6', endColorstr='#6bb4d1',GradientType=0);
//}

//::-moz-meter-bar {
  //[> Block styles that would change the type of frame we construct. <]
  //display: inline-block ! important;
  //float: none ! important;
  //position: static ! important;
  //overflow: visible ! important;

  //-moz-appearance: meterchunk;
  //height: 100%;
  //width: 100%;
//}

//:-moz-meter-optimum::-moz-meter-bar {
  //[> green. <]
  //background: -moz-linear-gradient(top, #ad7, #ad7, #cea 20%, #7a3 45%, #7a3 55%);
//}
//:-moz-meter-sub-optimum::-moz-meter-bar {
  //[> orange. <]
  //background: -moz-linear-gradient(top, #fe7, #fe7, #ffc 20%, #db3 45%, #db3 55%);
//}
//:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  //[> red. <]
  //background: -moz-linear-gradient(top, #f77, #f77, #fcc 20%, #d44 45%, #d44 55%);
//}
