
@import '../variables.scss';

button.btn-remove-u2f {
    height: 25px;
    width: 50px;
    margin-bottom: 0;
}

button.btn-verify-u2f {
    height: 25px;
    width: 50px;
    margin-bottom: 0;
}

button.btn-verified-u2f {
    height: 25px;
    width: 50px;
    margin-bottom: 0;
}
