
@import '../variables.scss';

button.btn-remove-u2f {
    height: 25px;
    width: 75px;
    margin-bottom: 0;
}

button.btn-verify-u2f {
    height: 50px;
    width: 75px;
    margin-bottom: 0;
    white-space: normal;
}

button.btn-verified-u2f {
    height: 25px;
    width: 75px;
    margin-bottom: 0;
}

button.break-word {
    word-break: break-word;
}

div#register-webauthn-tokens-area {
    padding-left: 20px;
}
