/* -----------  ToU  ---------------------- */

div#tou-form-buttons {
    width: 100%;
    text-align: center;
}

div#tou-form-buttons .input-group {
    margin: auto;
}

div#tou-form-buttons .input-group .btn {
    max-width: 150px !important;
    height: auto;
}

/* -----------  End ToU  ------------------ */
