* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/Akkurat-Mono.ttf") format("truetype"), url("../fonts/Akkurat-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #161616;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.banner {
  background-color: white;
}

.sunet-logo {
  width: auto;
  height: 50px;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: 0.005em;
}

.tagline {
  display: flex;
  align-items: center;
  margin: 5rem 0 3rem 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 3.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 1.5rem;
}

.text-container {
  margin-top: 1.5rem;
}

.faq-container {
  /* margin-top: 1.5rem; */
  display: flex;
  flex-direction: column;
}

h1,
h2,
p.intro {
  font-weight: 700;
}

/* link styles */
a.text-link {
  color: #ff4500;
  border-bottom: solid #ff4500 2px;
  text-decoration: none;
}

a.nav-link {
  font-family: "Akkurat";
  font-size: 0.9rem;
  letter-spacing: 0.005em;
  color: #d3452e;
  border-bottom: solid transparent 1px;
  text-decoration: none;
}

a.nav-link:hover {
  border-bottom: solid #d3452e 1px;
}

a.text-link,
a.nav-link {
  transition: all 0.2s ease;
}

a:hover {
  border-bottom: solid transparent 1px;
}

/* Logo */
.logo {
  width: 140px;
  height: 40px;
  background: url(../img/ds-eduID-logo-black320x120px.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* lists */
ul .bullets {
  list-style-type: disc;
  margin-left: 1.75rem;
}
ul .bullets li {
  margin: 0.5rem 0;
}

ul li {
  font-size: 1.25rem;
  line-height: 1.4;
}

li span {
  font-weight: 700;
}

/* button */
button {
  font-family: "Akkurat";
  color: white;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.005em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff4500;
  height: 3rem;
  border-radius: 20px;
  border: solid 1px transparent;
  padding: 0.625rem 1.25rem;
  margin: 2rem 0 0 0;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  transition: all 0.5s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(0.95);
}

/* main structure of page */
#content {
  display: flex;
  flex: 1;
  margin-bottom: 2rem;
}

.container {
  padding: 0;
  width: 58%;
  /* max-width: 870px; */
  max-width: 54.4rem;
  margin: 0 auto;
}

/* footer */
footer {
  border-top: solid #ff4500 8px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.9rem;
}

footer .sunet-logo {
  width: auto;
  height: 50px;
  margin-right: 8px;
}

footer a {
  font-size: 0.9rem;
  text-decoration: none;
}

footer nav,
footer ul {
  display: flex;
}

footer li {
  margin-right: 16px;
}

a.header-button {
  text-transform: none;
  font-family: "Akkurat";
  color: #ff4500;
  border: solid 2px #ff4500;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 700;
}

a.header-button:hover {
  transform: scale(0.95);
}

@media (max-width: 823px) {
  .container {
    width: 75%;
  }
  .tagline {
    margin: 5rem 0 2rem;
  }
}

@media (max-width: 768px) {
  button {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .container {
    width: calc(100% - 2rem - 2px);
  }

  .logo {
    width: 105px;
    height: 36px;
  }

  header.sunet-logo {
    width: auto;
    height: 36px;
  }

  .tagline {
    margin-bottom: 2.5rem;
  }
}
