/** Typography **/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/Akkurat-Mono.ttf") format("truetype"), url("../fonts/Akkurat-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

strong {
  font-family: "ProximaNova-Bold";
}

h1.tagline {
  font-size: 2.75rem;
  line-height: 1.2;
  font-family: "ProximaNova-Light";
}
h2 {
  font-size: 1.65rem;
  margin-bottom: 0.75em;
  font-family: "ProximaNova-Bold";
}
h3 {
  line-height: 1.2;
  font-family: "ProximaNova-Light";
  font-size: 1.25rem;
  margin-bottom: 0.75em;
  text-transform: uppercase;
}
h4 {
  line-height: 1.2;
  margin-bottom: 0.5em;
  font-family: "ProximaNova-Bold";
  font-size: 1.125rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/** General **/
body {
  min-height: 100vh;
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #161616;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.panel {
  padding-bottom: 4rem;
  display: flex;
  flex: 1;
  background-color: #f4f4f4;
}
.panel .content {
  padding-top: 2rem;
}
.horizontal-content-margin {
  padding: 0;
  width: 58%;
  max-width: 870px;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.banner {
  background-color: white;
}

.eduid-logo {
  width: 117px;
  height: 40px;
  background: url(../img/eduid-logo-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.tagline {
  display: flex;
  align-items: center;
  margin: 2rem 0 3rem;
}

/** Content **/
.intro {
  font-family: "ProximaNova-Bold";
  font-size: 1.5rem;
}

hr {
  margin: 2.5rem 0;
  height: 1px;
  border: none;
  background: #d8d8d8;
}

/* links */
a.text-link {
  color: #cc3600;
  font-family: "Akkurat";
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}
a.text-link:hover {
  text-decoration: underline;
}

/* buttons */
.buttons {
  display: flex;
  column-gap: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}

.btn {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-family: "Akkurat";
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
  outline: 0;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: scale(0.95);
}

.btn-sm {
  font-size: 13px;
  padding: 0.5rem 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #db3a00;
  border: solid 2px #ff4500;
  box-shadow: none;
  min-width: 100px;
  padding: 14px 1.125rem;
}

.btn-secondary {
  color: #cc3600;
  border: solid 2px #ff4500;
}

/** FAQ **/
.faq-nav {
  position: fixed;
  margin: 2rem 1rem 1rem;
  font-size: 0.9rem;
}

.faq-nav li {
  margin-bottom: 0.375rem;
}

.faq-content > li {
  padding-top: 1rem;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 0.25rem;
}

.faq-content h3 {
  padding-top: 0.5rem;
}

.faq-content p {
  font-size: inherit;
}

ul .bullets {
  list-style-position: inside;
  list-style-type: disc;
}
ul .bullets li {
  margin-bottom: 1rem;
}

/* Footer */
footer {
  border-top: solid #ff4500 6px;
  background-color: #f4f4f4;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.9rem;
}

.logo-wrapper {
  display: flex;
  align-items: baseline;
}

.sunet-logo {
  width: 40px;
  height: 50px;
  margin-right: 8px;
  background-image: url("../../assets/images/sunet_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

footer ul {
  display: flex;
}

footer .text-link {
  font-size: 0.9rem;
  color: #cc3600;
  line-height: 1.7rem;
}

.help-link {
  margin-right: 1rem;
}

/** Responsive **/
@media (min-width: 414px) {
  .buttons {
    width: auto;
  }
}

@media (max-width: 823px) {
  .horizontal-content-margin {
    width: calc(80% - 2rem);
  }
  .tagline {
    margin: 1rem 0 1.5rem;
  }
  .panel {
    padding-bottom: 3rem;
    flex-direction: column;
  }
  .panel .content {
    padding-top: 1.5rem;
  }
  .faq-nav {
    position: static;
  }
  .faq-nav:first-child {
    margin-bottom: 1.375rem;
  }
  .faq-nav:first-child span {
    position: fixed;
    left: 0.125rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@media (max-width: 768px) {
  .horizontal-content-margin {
    width: calc(80% - 1.25rem);
  }

  .eduid-logo {
    width: 99px;
    height: 34px;
  }

  h1.tagline {
    font-size: 2rem;
  }

  p {
    font-size: 1.125rem;
  }
  .intro {
    font-size: 1.25rem;
  }

  hr {
    margin: 1.75rem 0;
  }

  .buttons {
    justify-content: center;
  }
  button {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .horizontal-content-margin {
    width: calc(100% - 2rem);
  }

  header .btn {
    align-self: flex-start;
  }
}

@media (max-width: 414px) {
  .buttons {
    flex-direction: column-reverse;
  }

  footer {
    align-items: flex-end;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  a.help-link {
    margin-right: 0px;
  }
}
