/* header */
header {
  width: calc(100% - 5px);
  margin-bottom: 295px;
  display: flex;
  background-color: white;
  z-index: 10;
}

ul {
  display: flex;
}

/* header: hiding elements in the DOM */
/* .clearfix, */
.form-actions span a,
legend,
.button.white-border,
.navbar-header,
.navbar-brand {
  display: none;
}

.well {
  background-color: transparent;
  border: none;
}

.col-md-12,
form .well,
.col-md-offset-3,
.col-md-6 {
  display: contents;
}

#eduid-idp-navbar {
  display: contents;
  border: none;
  margin: 0;
  padding: 0;
}

#eduid-idp-menu {
  display: flex !important;
  flex: 1;
  text-align: left;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

/* buttons */
.button.orange {
  font-family: "Akkurat";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 20px;
  height: 48px;
  padding: 10px 20px;
  border: solid 1px transparent;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  transition: all 0.5s ease;
  cursor: pointer;
}

.button.orange a,
.button.orange a:hover {
  color: #161616 !important;
  text-decoration: none;
}

/* buttons: cancelling bootstrap styles  */
.navbar-nav.navbar-right:last-child,
.navbar-right {
  float: none !important;
  margin: 0;
  display: flex;
  align-items: center;
}

/* structure */
.container-fluid {
  display: contents;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  flex: 1;
  border-bottom: solid #ff4500 8px;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.well {
  min-height: auto;
  padding: 112px 0;
}

/* .jumbotron - holds content on server error page  */
.jumbotron legend {
  display: block;
  border: none;
  font-size: 24px;
  line-height: 34px;
  margin-top: 56px;
  font-weight: 700;
}

.jumbotron p {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 32px;
}

.container .jumbotron {
  padding: 0;
  background-color: #f4f4f4;
  border-radius: 0;
  width: 58.3333333333%;
  margin: 0 auto;
}

label {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "ProximaNova-Bold";
  letter-spacing: 0.5px;
  line-height: 1;
  font-weight: 700;
  color: #161616;
  padding: 0 0 0 2px;
  margin: 0;
  text-align: left;
}

input[name="username"],
input[name="password"] {
  border-radius: 0;
  box-shadow: none;
  font-family: "ProximaNova-Regular";
  font-weight: 500;
  color: #161616;
  background-color: white;
  border: none;
  border-bottom: solid 1px #161616;
  font-size: 24px;
  width: 100%;
  height: 48px;
  padding: 0.375rem 0.75rem;
}

.controls {
  margin-bottom: 20px;
}

.control-group p:empty {
  display: none;
}

.control-group p {
  margin: 3rem 0 0 0;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  margin-top: 24px;
}

.forgot-password {
  margin: 3rem 0;
  display: inline-block;
  color: #ff4500 !important;
  border-bottom: solid 1px transparent;
  font-family: "Akkurat";
  font-size: 16px;
  line-height: 1.5;
  margin-top: 24px;
  font-weight: 700;
  text-decoration: none;
}

.forgot-password:hover {
  border-bottom: solid 1px #ff4500;
  text-decoration: none;
}

/* form: cancelling bootstrap styles */
.form-horizontal .control-label {
  padding-top: 0;
  margin-bottom: 0;
  text-align: left;
}

/* Button */
button.btn {
  font-family: "Akkurat";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 20px;
  text-transform: uppercase;
  height: 48px;
  padding: 10px 20px;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  transition: all 0.5s ease;
  cursor: pointer;
}

button.btn.btn-primary {
  background-color: #ff4500;
  color: white;
  border: solid 1px transparent;
}

button.btn.btn-primary:not(:disabled):hover {
  color: #ff4500;
  background-color: #ffe7dd;
  transform: scale(0.95);
  border: solid 1px #ffe7dd;
}

button.btn.btn-primary:not(:disabled):not(.disabled):active,
button.btn.btn-primary:not(:disabled):not(.disabled):focus,
button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  color: #ff4500;
  background-color: #ffe7dd;
  transform: scale(0.95);
  border: solid 1px #ffe7dd;
}

button.btn.btn-primary:disabled {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}

/* footer */
.footer {
  margin-left: 20px;
  margin-bottom: 10px;
}

/* header nav moved to footer */
#eduid-idp-menu a,
.footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
}

#eduid-idp-menu ul {
  font-family: "Akkurat";
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 15px;
  display: flex;
  justify-content: flex-end;
}

#eduid-idp-menu li {
  margin: 24px 15px 20px 0;
  padding: 0;
}

ul.nav.navbar-nav li a {
  margin: 0;
  padding: 0;
  color: #ff4500;
  border-bottom: solid 1px transparent;
}

ul.nav.navbar-nav li a:hover {
  color: #ff4500;
  border-bottom: solid 1px #ff4500;
}

/* new content */
.container::before {
  content: " ";
  display: block;
  height: 350px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -10;
}

.container::after {
  content: " Welcome to eduID";
  position: absolute;
  top: 60px;
  left: 20.888%;
  font-size: 36px;
  line-height: 44px;
  padding: 112px 0 103px;
  width: 58.3333333333%;
  margin: 0 auto;
}

.row::after {
  content: "Login to setup or edit your eduID";
  display: block;
  color: #ff4500;
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  position: absolute;
  top: 200px;
  left: 20.888%;
  width: 58.3333333333%;
  margin: 44px auto 0;
}

@media (max-width: 823px) {
  .row::after,
  .container::after {
    left: 12.5%;
    width: 75%;
  }
  .container .jumbotron {
    /* padding: 0; */
    width: 75%;
  }
}

@media (max-width: 768px) {
  .row::after,
  .container::after {
    left: 20px;
    width: calc(100% - 40px);
  }
  .container .jumbotron {
    width: calc(100% - 40px);
  }
}

/* body,
.well,
.form-actions,
.container .jumbotron {
    background-color:#bbded9;
    background-image:url(../img/texture.png);
}
html {
    height:100%;
}
body {
    position:relative;
    min-height:100%;
    padding-bottom:360px;
    background-image:url(../img/texture.png);
    background-repeat: repeat;
}

.container .jumbotron {
    color:#fff;
    padding-top: 12em!important;
    padding-bottom: 12em;
    text-align: center;
}
.jumbotron h1 {
    font-size:72px;
}
.container .jumbotron div.panel-body {
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#fff;
} */

/* Text */
/* h1,
h2,
legend {
    font-size:1.35em;
    font-size:72px;
    color:#fff;
}
h3 {
    font-size:24px;
    font-family:'Roboto-Light';
}
h4 {
    font-size:18px;
}
h1,
h2,
h4,
legend {
    font-family:'Roboto-Black';
}
p,
li {
    font-size:16px;
    font-family:'Roboto-Regular';
}
label {
    text-align:left!important;
    display:block;
    margin-bottom:5px!important;
    color:#6d6d6d;
    font-family:'Roboto-Regular';
}
input {
    width:100%;
    height:45px;
    padding:0 20px;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
}
input:focus {
    outline:0;
} */

/* Header */
/* .header .container {
    padding: 0; }
.header ul {
    margin: 0; }
.header .logo {
    float: left;
    margin: 0; }
.header nav#eduid-idp-navbar li {
    list-style: none;
    margin: 0 17px;
    line-height: 40px; }
.header nav#eduid-idp-navbar li:first-child {
    margin-left: 0;
}
.header nav#eduid-idp-navbar li:last-child {
    margin-right: 0;
}
.header nav#eduid-idp-navbar li.current-menu-item a {
      color: #fff;
      border-bottom: 3px solid #fff; }
.header nav#eduid-idp-navbar li.button {
      float: right;
      height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 10px; }
.header nav#eduid-idp-navbar li.button a {
        color: #fff;
        line-height: 32px; }
.header nav#eduid-idp-navbar li a {
      line-height: 20px; }
.header nav#eduid-idp-navbar li ul {
      display: none; }
.header nav#eduid-idp-navbar a {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    text-transform: uppercase;
    color:#3f5c57;
  }
.header nav#eduid-idp-navbar a:hover {
      color: #fff;
        text-decoration:none;}
.header .buttons {
    float: right; }
.header .buttons .button {
      float: left;
      height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 10px;
      border:4px solid transparent;
    }


.header .buttons .button.log-out {
    background-color:#747474;
    border-color:#747474;
}

.header .buttons .button.orange {
    background:#dd650e;
    border-color:#dd650e;
}
.header .buttons .button.orange:hover {
    background:#c85c0e;
    border-color:#c85c0e;
}

.header .buttons .button.white-border {
        background: transparent;
        border-color: #fff; }
.header nav#eduid-idp-navbar .buttons a {
      color: #fff;
      line-height: 32px; }

.profile-head {
    padding-bottom:30px;
}
.profile-head h3 {
    font-size:72px;
    font-family: 'Roboto-Black';
}
.profile-head a {
    color:#59856b;
}

#eduid-header-loa {
    float:left;
    height:40px;
    background:#fff;
    line-height:40px;
    padding:0 40px;
} 
.logo {
  width: 145px;
  height: 50px;
  background: url(../img/sprite.png) 1px 0 no-repeat;
}
/* 
.media {
    position:absolute;
    left:50%;
    margin-left:-162px;
    width:325px;
    height:320px;
    background-image:url(../img/robot.png);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:contain;
}

.well {
    border:none;
    box-shadow:none;
}
legend {
    border-bottom:0;
    font-size:72px;
    text-align:center;
}
.form-actions {
    border-top:0;
    margin-top:20px;
    border-bottom:1px solid #629c92;
    padding-bottom:10px;
}
.controls .input-append {
    position:relative;
}
.controls .input-append:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:55px;
    height:100%;
    background-color:#ded9d5;
    background-image:url(../img/sprite.png);
    background-repeat:no-repeat;
    background-position:0px 0px;
    border:1px solid #a9a9a9;
    border-right:none;
}
.controls .input-append input {
    padding-left:65px;
    border:1px solid #a9a9a9;
}
.control-group:nth-of-type(1) .input-append:before {
    background-position:-76px -97px;
}
.control-group:nth-of-type(2) .input-append:before {
    background-position:13px -100px;
}
.forgot-password {
    color:#a7500d;
    margin-top: 5px;
}

.form-horizontal  {
    text-align:center;
    padding-top: 12em!important;
    padding-bottom: 1em;
}
.footer {
    text-align:center;
}

a.btn-warning {
    margin-left: 15px;
}

.alert-danger {
    color: #a94442;
    background-color: transparent;
    border-color: #ebccd1;
    border: 2px solid #a94442;
    padding: .2em;
} */

/* Buttons
    -------------------------------------------------------------------------------------- */

/* .buttons .button {
    padding: 0;
}
.buttons .button a {
    padding:20px 40px;
}

.btn {
    height:45px;
    line-height:45px;
    border-radius: 0;
    padding: 0 40px;
    text-transform:uppercase;
    margin-bottom:10px;
}
.btn:hover {
    text-decoration:none;
}

.btn-social,
.eduid-nd .btn-social:hover {
    color:#000;
}

#personaldataview-formsave {
    background-color:#58b78b;
}
.btn-primary,
.btn-success {
    background:#58b78c;
    border-color:#58b78c;
}

.btn-primary:hover,
.btn-success:hover {
    background:#4a9c77;
    border-color:#4a9c77;
}
.btn-warning {
    background:#dd650d;
    border-color:#dd650d;
}

.btn-warning:hover {
    background:#C85C0E;
    border-color:#C85C0E;
}

input[type=submit].btn,
button[type=submit].btn {
    display: block;
    margin-top: 20px;
} */

/* Font face */
/* @font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/roboto-light-webfont.eot');
	src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-light-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-regular-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/roboto-black-webfont.eot');
	src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-black-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/roboto-medium-webfont.eot');
	src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.svg#webfontZam02nTh') format('svg'),
	     url('../fonts/roboto-medium-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
    .header {
        padding-left:23px;
        padding-right:20px;
    }
    .header .container {
        width:700px;
    }
    .header .logo {
        margin:6px 10px 0 0;
        width: 100px;
        height: 33px;
        background-size: 100px;
    }
    .header nav#eduid-idp-navbar li {
        margin:0 20px;
    }
    .header nav#eduid-idp-navbar li.button {
        padding:0 20px;
    }
    .header nav#eduid-idp-navbar li a {
        font-size:14px;
    }

    .buttons .button a {
        font-size:14px;
        padding:25px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .header {
        padding-left:23px;
        padding-right:20px;
    }
    .header .container {
        width:700px;
    }
    .header .logo {
        margin:12px 10px 0 0;
        width: 80px;
        height: 27px;
        background-size: 80px;
    }
    .header nav#eduid-idp-navbar li {
        margin:0 7px;
    }
    .header nav#eduid-idp-navbar li.button {
        padding:0 20px;
    }
    .header nav#eduid-idp-navbar li a {
        font-size:12px;
    }
    .header .buttons .button {
        margin:0 5px;
    }
    .buttons .button a {
        font-size:12px;
        padding:20px;
    }

    .container .jumbotron h2 {
        font-size: 48px;
        margin-top: -20px;
    }

}
@media only screen and (max-width: 767px) { */

/* Texts 
    legend {
        font-size:46px;
    }
    .col-md-12 {
        padding:0;
    }

    body {
        padding-bottom: 250px;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        background: rgba(0,0,0,0.8);
        height: 50px;
        z-index: 9999;
        padding:0;
    }
    /* #header .container {
        padding:0;
    }

    #header .logo {
        margin:10px;
        width:80px;
        height:26px;
        background-size:80px;
    }

    #header .buttons {
        padding: 0 60px;
        width:100%;
    }
    #header .buttons .button {
        margin-bottom:10px;
        text-align:center;
        padding:0;
        float:none;
        height:auto;
    }
    #header .buttons a {
        display:block;
        padding:10px 0;
        line-height:1em;
    }

    .profile-combo > .col-md-3 {
        padding:0;
    } */

/* Paddings */
/* .form-horizontal {
        padding-top:0!important;
        padding-bottom:0;
        margin-top:70px;
    }

    .well {
        padding:0;
    }
    .form-horizontal .form-group {
        margin-left:0;
    }


    /* Buttons 
    .btn-success,
    .btn {
        margin-left:auto!important;
        margin-right:auto;
        width:300px;
        max-width:100%;
        padding:0;
        font-size:13px
    }

    /* Footer 
    .footer {
        padding:20px 0;
        height:auto;
    }

    /*Pages
    .tab-content {
        padding-right:0;
        padding-left:0;
    }
    .profile-combo {
        margin-right:0;
        margin-left:0;
    }
    .form-group {
        width:100%;
    }

    nav.navbar.navbar-default#eduid-idp-navbar {
        background-color: #333;
        border-color: #333;
    }

    div.logo#eduid-logo-small {
        margin-left: -90px;
        margin-top: -4px;
    }

    .header nav#eduid-idp-navbar ul.nav.navbar-nav li a {
        color: #eee;
        display: block;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #CCC;
    }

    .header nav#eduid-idp-navbar ul.nav.navbar-nav li a:hover {
        color: #aaa;
    }

    div#eduid-idp-menu > div.buttons.nav {
        float:none;
        margin-top: 10px;
        margin: 7.5px 0px;
    }

    #eduid-idp-navbar div.navbar-header > span,
    #eduid-idp-navbar div.navbar-header > span:before,
    #eduid-idp-navbar div.navbar-header > span:after {
        cursor: pointer;
        border-radius: 2px;
        height: 5px;
        width: 35px;
        right: 0;
        background: white;
        position: absolute;
        display: block;
        content: '';
        border-color: transparent;
        padding: 0;
        margin-left: -15px;
        border: 0;

        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -o-transition: all 250ms;
        transition: all 250ms;
    }
    #eduid-idp-navbar div.navbar-header > span {
        top:10px;
    }
    #eduid-idp-navbar div.navbar-header > span:before {
        top: -10px;
    }
    #eduid-idp-navbar div.navbar-header > span:after {
        bottom: -10px;
    }
    #eduid-idp-navbar div.navbar-header > span.open {
        background-color: transparent;
    }
    #eduid-idp-navbar div.navbar-header > span.open:before {
        top: 0;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #eduid-idp-navbar div.navbar-header > span.open:after {
        bottom:0;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .container .jumbotron h2 {
        font-size: 36px;
        margin-top: -72px;
    }
    .media {
        width: 250px;
        margin-left: -125px;
    }
} */

/* @media only screen and (min-width: 768px) {

    nav.navbar.navbar-default#eduid-idp-navbar {
        background-color: transparent;
        border-color: transparent;
    }

    div#eduid-logo-small {
        display: none;
    }

} */
