/* header */
header {
  width: calc(100% - 5px);
  margin-bottom: 237px;
  display: flex;
  background-color: white;
  z-index: 10;
}

ul {
  display: flex;
}

/* header: hiding elements in the DOM */
.form-actions span a,
legend,
.button.white-border,
.navbar-header,
.navbar-brand {
  display: none;
}

.col-md-12,
form .well,
.col-md-offset-3,
.col-md-6 {
  display: contents;
}

#eduid-idp-navbar {
  display: contents;
  border: none;
  margin: 0;
  padding: 0;
}

#eduid-idp-menu {
  display: flex !important;
  flex: 1;
  text-align: left;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

/* buttons */
.button.orange {
  font-family: "Akkurat";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;
  border-radius: 20px;
  height: 48px;
  padding: 10px 20px;
  border: solid 1px transparent;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  transition: all 0.5s ease;
  cursor: pointer;
  margin: 16px 16px 0 0;
}

.button.orange a,
.button.orange a:hover {
  color: #161616 !important;
  text-decoration: none;
}

/* buttons: cancelling bootstrap styles  */
.navbar-nav.navbar-right:last-child,
.navbar-right {
  float: none !important;
  margin: 0;
  display: flex;
  align-items: center;
}

/* structure */
.container-fluid {
  display: contents;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  flex: 1;
  border-bottom: solid #ff4500 8px;
  background-color: #f4f4f4;
  z-index: 100;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.well {
  background-color: transparent;
  border: none;
  min-height: auto;
  padding: 57px 0;
}

/* .jumbotron - holds content on server error page  */
.jumbotron legend {
  display: block;
  border: none;
  font-size: 24px;
  line-height: 34px;
  margin-top: 56px;
  font-weight: 700;
}

.jumbotron p {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 32px;
}

.container .jumbotron {
  padding: 0;
  background-color: #f4f4f4;
  border-radius: 0;
  width: 58.3333333333%;
  margin: 0 auto;
}

label {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "ProximaNova-Bold";
  letter-spacing: 0.5px;
  line-height: 1;
  font-weight: 700;
  color: #161616;
  padding: 0 0 0 2px;
  margin: 0;
  text-align: left;
}

input[name="username"],
input[name="password"] {
  border-radius: 0;
  box-shadow: none;
  font-family: "ProximaNova-Regular";
  font-weight: 500;
  color: #161616;
  background-color: white;
  border: none;
  border-bottom: solid 1px #161616;
  font-size: 24px;
  width: 100%;
  height: 48px;
  padding: 0.375rem 0.75rem;
}

.controls {
  margin-bottom: 16px;
}

.control-group p:empty {
  display: none;
}

.control-group p {
  margin: 3rem 0 0 0;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  margin-top: 24px;
}

.forgot-password {
  margin: 36px 0;
  display: inline-block;
  color: #ff4500 !important;
  border-bottom: solid 1px transparent;
  font-family: "Akkurat";
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  font-weight: 700;
  text-decoration: none;
}

.forgot-password:hover {
  border-bottom: solid 1px #ff4500;
  text-decoration: none;
}

/* form: cancelling bootstrap styles */
.form-horizontal .control-label {
  padding-top: 0;
  margin-bottom: 0;
  text-align: left;
}

/* Button */
button.btn {
  font-family: "Akkurat";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 20px;
  text-transform: uppercase;
  height: 48px;
  padding: 10px 20px;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  transition: all 0.5s ease;
  cursor: pointer;
}

button.btn.btn-primary {
  background-color: #ff4500;
  color: white;
  border: solid 1px transparent;
}

button.btn.btn-primary:not(:disabled):hover {
  color: #ff4500;
  background-color: #ffe7dd;
  transform: scale(0.95);
  border: solid 1px #ffe7dd;
}

button.btn.btn-primary:not(:disabled):not(.disabled):active,
button.btn.btn-primary:not(:disabled):not(.disabled):focus,
button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  color: #ff4500;
  background-color: #ffe7dd;
  transform: scale(0.95);
  border: solid 1px #ffe7dd;
}

button.btn.btn-primary:disabled {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}

/* remove the footerin the DOM  */
.footer p {
  display: none;
}


/* header nav moved to footer */
#eduid-idp-menu a,
.footer p {
  font-size: 16px;
}

#eduid-idp-menu ul {
  font-family: "Akkurat";
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: flex-end;
}

#eduid-idp-menu li {
  display: none;
}

#eduid-idp-menu li:last-child {
  display: block;
}

ul.nav.navbar-nav li a {
  margin: 0;
  padding: 0;
  color: #ff4500;
  border-bottom: solid 1px transparent;
}

ul.nav.navbar-nav li a:hover {
  color: #ff4500;
  border-bottom: solid 1px #ff4500;
}

/* new content */
.container::before {
  content: " ";
  display: block;
  height: 237px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.container::after {
  content: "eduID is easier and safer login.";
  position: absolute;
  top: 146px;
  left: 20.888%;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  /* padding: 112px 0 103px; */
  width: calc(58.3333333333% + 36px);
  margin: 0 auto;
}

.row::after {
  content: "Log in to setup or edit your eduID.";
  display: block;
  /* color: #161616; */
  font-size: 24px;
  line-height: 1.2;
  /* font-weight: 700; */
  position: absolute;
  top: 285px;
  left: 20.888%;
  width: 58.3333333333%;
  /* margin: 44px auto 0; */
}

.footer::after {
  content: "© SUNET 2013-2019";
  display: block;
  /* color: #161616; */
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin: 16px;
}

.col-md-offset-3,
.col-md-6,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin-left: 0;
  width: 100%;
  float: none;
}

@media (max-width: 823px) {
  .row form {
    padding: 56px 0;
  }
  .row::after,
  .container::after {
    left: 12.5%;
    width: 75%;
  }
  .container .jumbotron {
    /* padding: 0; */
    width: 75%;
  }
}

@media (max-width: 768px) {
  .row::after,
  .container::after {
    left: 20px;
    width: calc(100% - 40px);
  }
  .container::before {
    height: 253px;
  }
  .container .jumbotron {
    width: calc(100% - 40px);
  }
}
