* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}

body {
  scroll-behavior: smooth;
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px !important;
  color: #161616;
  background-color: #f4f4f4;
  /* background-color: hotpink; */
  display: flex;
  flex: 1;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 56px;
}

p {
  font-size: 20px;
  line-height: 32px;
  padding-top: 24px;
}

/* Structure */
.container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.row h1 {
  width: calc(100% - 5px);
  margin-bottom: 348px;
}
.row .buttons,
.row h2,
.row p,
.row form {
  width: 58.3333333333%;
  margin: 0 auto;
  /* background-color: #f4f4f4; */
  box-shadow: none;
  border: none;
}

/* Logo */
.logo {
  width: 160px;
  height: 50px;
  background: url(../img/ds-eduID-logo-black320x120px.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px 0 0 5px;
  /* z-index: 2; */
}

/* Icon */
.glyphicon.glyphicon-info-sign {
  display: none;
}

/* Form */
input[name="email"] {
  border-radius: 0;
  box-shadow: none;
  font-family: "ProximaNova-Regular";
  font-weight: 500;
  color: #161616;
  background-color: white;
  border: none;
  border-bottom: solid 1px #161616;
  font-size: 24px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 150%;
  height: 48px;
  padding: 0.375rem 0.75rem;
  /* width: 100%; */
}

input[type="email"]::placeholder {
  font-family: "ProximaNova-Regular";
  color: #161616;
}

input:hover,
input:active {
  border-bottom: solid 1px #161616;
}

input:focus {
  outline: 0;
  border-bottom: solid 1px #161616;
}

/* valid form input*/
form {
  /* background-color: lightblue; */
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: baseline;
}

.form-group {
  margin-bottom: 0;
  height: 100px;
}

.form-control {
  height: 48px;
  padding: 0.375rem 0.75rem;
}

.form-control:focus {
  border-color: #161616;
  box-shadow: none;
}

.form-control.is-valid {
  border: 2px solid #58b78c;
}

.form-control.is-valid:focus {
  border-color: #58b78c;
  box-shadow: 0 0 0 0.2rem rgba(88, 183, 140, 0.25);
}

/* invalid form input */
.form-control.is-invalid {
  border: 2px solid #b75865;
}

.form-control.is-invalid:focus {
  border-color: #b75865;
  box-shadow: 0 0 0 0.2rem rgba(183, 88, 101, 0.25);
}

.form-group.has-error .help-block {
  border: none;
  background-color: #ffe7dd;
  padding: 0.3em 1em;
}

/*  error message */

/* .has-error  {
  color: #ff4500;
  background-color: #ffe7dd; */
/* } */

.has-error .help-block {
  display: flex;
  margin: 0;
  color: #ff4500;
  background-color: #ffe7dd;
}

.has-error .help-block span {
  width: 58.3333333333%;
  margin: 0 auto;
}

.help-block {
  display: flex;
  font-size: 20px;
  position: absolute;
  top: 348px;
  left: 0;
  right: 0;
  margin: 0;
  color: #c7c7c7;
}

/* .eduid-field-error {
  color: #b75865;
  font-weight: 500;
} */

fieldset {
  width: 100%;
}

/* Button */
button.btn {
  font-family: "Akkurat";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 20px;
  text-transform: uppercase;
  height: 48px;
  padding: 10px 20px;
  box-shadow: 0 5px 17px rgba(89, 89, 89, 0.07);
  transition: all 0.5s ease;
  cursor: pointer;
}

button.btn.btn-default {
  background-color: #ff4500;
  color: white;
  border: solid 1px transparent;
}

button.btn.btn-default:not(:disabled):hover {
  color: #ff4500;
  background-color: #ffe7dd;
  transform: scale(0.95);
  border: solid 1px #ffe7dd;
}

button.btn.btn-default:not(:disabled):not(.disabled):active,
button.btn.btn-default:not(:disabled):not(.disabled):focus,
button.btn.btn-default:not(:disabled):not(.disabled):active:focus {
  color: #ff4500;
  background-color: #ffe7dd;
  transform: scale(0.95);
  border: solid 1px #ffe7dd;
}

button.btn.btn-default:disabled {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}

/* new content */

.row h1::before {
  content: " ";
  display: block;
  height: 348px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -10;
}

.row h1::after {
  content: " Welcome to eduID";
  display: block;
  position: relative;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  padding: 136px 0 103px;
  height: calc(60px + 112px + 96px + 80px - 5px);
  width: 58.3333333333%;
  margin: 0 auto;
}

.row h2::before {
  content: "Reset your password to log in.";
  display: block;
  color: #ff4500;
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
  position: absolute;
  top: 185px;
  width: 58.3333333333%;
  margin: 44px auto 0;
}

.jumbotron::before {
  content: "Something went wrong!";
  display: block;
  color: #ff4500;
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
  position: absolute;
  top: 185px;
  width: 58.3333333333%;
  margin: 44px auto 0;
}

.col-md-offset-3,
.col-md-6,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin-left: 0;
  width: 100%;
  float: none;
}

/* reset password breakpoints */

@media (max-width: 823px) {
  .row h1::after,
  .row h2::before,
  .row h2 {
    padding: 3rem 0 2rem;
    width: 75%;
  }
  .row p,
  .row form {
    padding: 56px 0;
    width: 75%;
  }
  .row h1::after {
    padding: 136px 0 103px;
    height: calc(60px + 112px + 96px + 80px - 5px);
  }
  input[type="email"] {
    width: 100%;
  }
  form {
    flex-direction: column;
  }
  input,
  button,
  .form-group {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .row h1::after,
  .row h2::before,
  .row h2 {
    width: calc(100% - 40px);
  }
  .row p,
  .row form {
    padding: 56px 0;
    width: calc(100% - 40px);
  }
  .row h1::after {
    font-size: 32px;
    line-height: 38px;
  }
  .row h2::before,
  h2 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 10px;
    top: 155px;
  }
}

.screen-reader-text {
  color: transparent;
  height: 0;
  width: 0;
}

/* @media (max-width: 414px) {
} */

/* body,
.well,
.container-fluid .jumbotron,
div.modal-dialog .modal-content {
    background-color:#bbded9;
    background-image:url(../img/texture.png);
}
html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#fff;
}

/* Text */
/*h1,
h2 {
    font-size:72px;
    color:#fff;
}
h3,
p.lead {
    font-size:24px;
    font-family:'Roboto-Light';
}
h4 {
    font-size:18px;
}
h1,
h2,
h4 {
    font-family:'Roboto-Black';
}
p,
li {
    font-size:16px;
    font-family:'Roboto-Regular';
}
label {
    text-align:left!important;
    display:block;
    margin-bottom:5px!important;
    color:#6d6d6d;
    font-family:'Roboto-Regular';
}
input {
    padding:0 20px;
    border-radius: 0;
    box-shadow: none;
}
input:focus {
    outline:0;
}

.help {
    padding-top:10px;
}
.help a {
    position:relative;
    padding-left:38px;
    color:#000;
}
.help a:hover {
    text-decoration:none;
}
.help a:before {
    content:'';
    display:block;
    width:28px;
    height:28px;
    background:url(../img/sprite.png) -9px -53px no-repeat;
    position:absolute;
    top:-6px;
    left:0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

.push {
  margin-top: 10px;
} */

/* Header */
/* .header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 9998;
  padding: 20px 35px 0;
}

.header .container {
  padding: 0;
}
.header ul {
  margin: 0;
}
.header .logo {
  float: left;
  margin: 0;
}
.header nav li {
  list-style: none;
  margin: 0 18px;
  line-height: 40px;
}

.header nav li.current-menu-item a {
  color: #fff;
  border-bottom: 3px solid #fff;
} */

/* .header nav li.button { 
  float: right;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 10px;
}
.header nav li.button a {
  color: #fff;
  line-height: 32px;


.header nav li a {
  line-height: 20px;
}
.header nav li ul {
  display: none;
}
.header nav a {
  font-family: "Roboto-Medium";
  font-size: 14px;
  text-transform: uppercase;
  color: #3f5c57;
}
.header nav a:hover {
  color: #fff;
  text-decoration: none;
} */
/* .header .buttons {
  float: right;
}
.header .buttons .button {
  float: left;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 10px;
  border: 4px solid transparent;
}

.header .buttons .button.log-out {
  background-color: #747474;
  border-color: #747474;
}
.header .buttons .button.log-out button#logout-button {
  background-color: transparent;
  margin-top: -5px;
}

.header .buttons .button.orange {
  background: #dd650e;
  border-color: #dd650e;
}

.header .buttons .button.orange:hover {
  background: #c85c0e;
  border-color: #c85c0e;
}

.header .buttons .button.white-border {
  background: transparent;
  border-color: #fff;
}

.header .buttons a {
  color: #fff;
  line-height: 32px;
} */
/* 
.container-fluid .jumbotron {
  color: #fff;
}

/* No javascript 
div#no-script {
  text-align: center;
  color: #cc3732;
}

div#content-block {
  display: none;
} */
/* End no javascript */

/* Main marketing message and sign up button 
#content-block > h3:first-child {
  font-weight: bold;
  font-size: 32px;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
  clear: both;
}

.jumbotron h1,
.jumbotron p.lead {
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .lead {
  margin: 1em 0 2em 0;
}

.jumbotron p {
  color: #3f5c57;
}

.jumbotron input {
  height: 30px;
}

.input-group .help-block {
  font-size: 14px;
}

/* Help 

.jumbotron.eduid-help .panel-body,
.jumbotron.eduid-help p {
  font-size: 16px;
  color: #222;
}

.jumbotron.eduid-help .panel-heading a {
  font-size: 18px;
}

.jumbotron.eduid-help > h2,
.jumbotron.eduid-error > h2,
.jumbotron.eduid-notfound > h2,
.jumbotron.eduid-success > h2 {
  font-size: 40px;
}

/* Navigation
-------------------------------------------------- 

div#eduid-dashboard-menu ul.nav.navbar-nav li a {
  padding: 15px 0;
}

.masthead {
  padding-top: 10px;
  padding-bottom: 5px;
}

.masthead img {
  max-width: 108px;
  max-height: 110px;
}

.nav-pills li.nav-separator {
  height: 34px;
  width: 0px;
  border-left: solid rgb(0, 136, 204) 1px;
  display: inline-block;
}

/* forms ---------------

form.form-inline div.alert {
  display: block;
}

form.form-horizontal label {
  font-weight: 400;
}

.table-thin {
  width: 50%;
}

/* .table-form .btn-link {
  padding: 0;
  margin-bottom: 0;
}

div.form-content {
  margin-top: 10px;
}

.askdialog-extra-info {
  display: none;
}

.progress {
  margin-top: 10px;
  height: 10px;
}

div.controls > span.uneditable-input {
  padding-top: 18px;
}

/* .form-control {
  height: 45px;
  border-radius: 0;
  box-shadow: none;
} */

/* .form-control:focus {
  border-color: #fff;
  box-shadow: none;
} */
/* .form-horizontal .form-group {
  margin-left: 0;
}
.intro h4 {
  font-family: "Roboto-Black";
  font-size: 36px;
}

.form-group.has-error .help-block {
  border: 2px solid #a94442;
  padding: 0.3em 1em;
} 

#askDialogInput {
  min-width: 220px;
}
/* Buttons
    -------------------------------------------------------------------------------------- */
/* 
.buttons .button {
  padding: 0;
}
.buttons .button a {
  padding: 20px 40px;
}

.btn {
  height: 45px;
  line-height: 45px;
  border-radius: 0;
  padding: 0 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.btn:hover {
  text-decoration: none;
}
.btn-primary,
.btn-success {
  background: #58b78c;
  border-color: #58b78c;
}
.btn-primary:hover,
.btn-success:hover {
  background: #4a9c77;
  border-color: #4a9c77;
}

.btn-warning,
.btn-warning:hover {
  background: #dd650d;
  border-color: #dd650d;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:active,
.btn-primary.disabled:focus {
  background: #8ccbb5;
  border-color: #8ccbb5;
}
input[type="submit"].btn,
button[type="submit"].btn {
  display: block;
  margin-top: 20px;
}

.btn-social {
  display: block;
  color: white;
  text-decoration: none;
}

.btn-social:hover {
  color: white;
  text-decoration: none;
}

.btn-icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.btn-text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 14px 0 10px;
  margin: 0 0 0 4px;
}

.pre-big {
  font-size: 150%;
}

.clear-right {
  float: right;
  clear: right;
}

/* Spinner on buttons */

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.loading {
  opacity: 1;
}

.has-spinner.loading .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
  width: 10px;
}

.has-spinner.btn-sm.active .spinner {
  width: 13px;
}

.has-spinner.btn.loading .spinner {
  width: 16px;
}

.has-spinner.btn-lg.loading .spinner {
  width: 19px;
}

/* Spinner
-------------------------------------------------- */

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* End Spinner
-------------------------------------------------- */

/* removing inlines 

div.position-relative {
  position: relative;
  clear: both;
}

/* custom inclusion of right, left and below tabs
   taken from http://www.bootply.com/100014 */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

/* ul.nav.navbar-nav li a {
  color: #3f5c57;
} */

/* Footer 
#footer {
  max-width: 1200px;
  margin: 0 auto;
}

#footer,
.push {
  height: 3em;
}
#footer .container {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 1px solid #629c92;
}
#footer p {
  font-family: "Roboto-Regular";
  font-size: 14px;
}

div#footer span.langselector {
  color: rgb(85, 85, 85);
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-top: 2px;
  text-align: left;
}
#footer .langselector {
  padding: 0 10px;
  border-right: 1px solid #9f958c;
  display: inline;
  margin-right: 0;
  margin-left: 0;
}
#footer .langselector:last-child {
  border-right: none;
}
#footer .langselector span {
  color: #fff;
}
#footer .langselector a {
  color: #000;
}

/* Fontface */
/* Fontface */

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/Akkurat-Mono.ttf") format("truetype"),
    url("../fonts/Akkurat-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype"),
    url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype"),
    url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-light-webfont.woff") format("woff"),
    url("../fonts/roboto-light-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-light-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/roboto-regular-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-regular-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-black-webfont.woff") format("woff"),
    url("../fonts/roboto-black-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-black-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-medium-webfont.woff") format("woff"),
    url("../fonts/roboto-medium-webfont.svg#webfontZam02nTh") format("svg"),
    url("../fonts/roboto-medium-webfont.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 960px) and (max-width: 1053px) {
  .header nav li {
    margin: 0 8px;
  }
  .header .logo {
    margin: 12px 0 0 0;
    width: 90px;
    height: 30px;
    background-size: 90px;
  }
}

@media only screen and (min-width: 1054px) and (max-width: 1179px) {
  .header nav li {
    margin: 0 10px;
  }
  .header .logo {
    margin: 12px 0 0 0;
    width: 90px;
    height: 30px;
    background-size: 90px;
  }
}

@media only screen and (min-width: 960px) {
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
  }

  .jumbotron .form-inline .form-group {
    margin: 30px;
  }
}

@media only screen and (min-width: 992px) {
  #personaldataview-form .form-group {
    float: left;
    width: 48%;
  }

  #personaldataview-form .form-group:nth-child(odd) {
    margin-left: 2%;
  }

  #personaldataview-form .form-group:nth-child(even) {
    margin-right: 2%;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
  .header {
    padding-left: 23px;
    padding-right: 20px;
  }
  .header .container {
    width: 700px;
  }
  .header nav li.button {
    padding: 0 20px;
  }
  .header nav li a {
    font-size: 14px;
  }

  .buttons .button a {
    font-size: 14px;
    padding: 25px;
  }
  #eduid-header-loa {
    padding: 0 15px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .jumbotron .form-inline .form-group {
    margin: 10px;
  }
  .header {
    padding-left: 23px;
    padding-right: 20px;
  }
  .header .container {
    width: 700px;
  }
  .header .logo {
    margin: 12px 0 0 0;
    width: 80px;
    height: 27px;
    background-size: 80px;
  }
  .header nav li {
    margin: 0 10px;
  }
  .header nav li.button {
    padding: 0 20px;
  }
  .header nav li a {
    font-size: 12px;
  }
  .header .buttons {
    margin-top: 6px;
  }
  .header .buttons .button {
    margin: 0 5px;
    height: 30px;
  }
  .buttons .button a {
    font-size: 12px;
    padding: 10px;
    line-height: 22px;
  }
  #eduid-header-loa {
    padding: 0 10px;
    font-size: 10px;
    line-height: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .jumbotron h1,
  .jumbotron h2 {
    font-size: 54px;
    margin: 20px 0;
  }

  .tab-content.info-container {
    padding-top: 72px;
  }
}

@media only screen and (max-width: 767px) {
  .jumbotron h1,
  .jumbotron h2 {
    font-size: 32px;
    margin: 20px 0;
  }

  #eduid-header-loa {
    display: block;
    position: relative;
    top: 2px;
    margin-bottom: 15px;
  }

  #eduid-header-pills,
  #eduid-header-logos {
    display: block;
    position: relative;
  }

  div#eduid-menu ul.nav.navbar-nav li a {
    color: #eee;
    display: block;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  div#eduid-menu ul.nav.navbar-nav li a:hover {
    color: #aaa;
  }

  div#eduid-menu > div.buttons.nav {
    float: none;
    margin-top: 10px;
    margin: 7.5px 0px;
  }

  /* Texts 
  .jumbotron h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
  }

  .jumbotron .form-inline .form-group {
    margin: 10px;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    height: 50px;
    z-index: 9999;
    padding: 0;
  }
  #header .container {
    padding: 0;
  }

  #header .logo {
    width: 80px;
    height: 26px;
    background-size: 80px;
  }

  #header .buttons {
    padding: 0 60px;
    width: 100%;
  }
  #header .buttons .button {
    margin-bottom: 10px;
    text-align: center;
    padding: 0;
    float: none;
    height: auto;
  }
  #header .buttons a {
    display: block;
    padding: 10px 0;
    line-height: 1em;
  }

  /* Paddings 
  .container-fluid .jumbotron {
    padding-top: 0 !important;
    padding-bottom: 0;
  }
  .jumbotron {
    padding: 0;
  }

  #content-block {
    margin-top: 70px;
    max-width: 1200px;
  }

  /* Buttons
  .btn {
    margin-left: auto !important;
    margin-right: auto;
    max-width: 100%;
    font-size: 13px;
  }

  /* Footer 
  #footer,
  .footer {
    padding: 20px 0;
    height: auto;
  }

  /* Pages 

  .tab-content {
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
  }
  .profile-combo {
    margin-right: 0;
    margin-left: 0;
  }
  .form-group {
    width: 100%;
  }
  .table-responsive td {
    padding-right: 20px;
    padding-left: 20px;
  }
  .intro h4 {
    font-size: 24px;
  }
  .table > tbody > tr.emailrow td {
    padding: 10px 15px;
  }
  .table-responsive {
    border: none;
  }

  div#eduid-logo-large {
    display: none;
  }

  /* main menu in small devices 

  nav.navbar.navbar-default#eduid-navbar {
    background-color: #333;
    border-color: #333;
  }

  #eduid-navbar div.navbar-header > span,
  #eduid-navbar div.navbar-header > span:before,
  #eduid-navbar div.navbar-header > span:after {
    cursor: pointer;
    border-radius: 2px;
    height: 5px;
    width: 35px;
    right: 0;
    background: white;
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    padding: 0;
    margin-left: -15px;
    border: 0;

    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
  }
  #eduid-navbar div.navbar-header > span {
    top: 14px;
  }
  #eduid-navbar div.navbar-header > span:before {
    top: -10px;
  }
  #eduid-navbar div.navbar-header > span:after {
    bottom: -10px;
  }
  #eduid-navbar div.navbar-header > span.open {
    background-color: transparent;
  }
  #eduid-navbar div.navbar-header > span.open:before {
    top: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #eduid-navbar div.navbar-header > span.open:after {
    bottom: 0;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .text-xs-center {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .header nav li:first-child {
    margin-left: 0;
  }
  .header nav li:last-child {
    margin-right: 0;
  }
  nav.navbar.navbar-default#eduid-navbar {
    background-color: transparent;
    border-color: transparent;
  }

  header > nav.navbar.bg-dark {
    background-color: transparent !important;
  }

  .jumbotron p.lead {
    font-size: 24px;
  }

  div#eduid-logo-small {
    display: none;
  }

  .tabs-left > .nav-tabs > li,
  .tabs-right > .nav-tabs > li {
    float: none;
  }

  .tabs-left > .nav-tabs > li > a,
  .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
  }

  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
  }

  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }

  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }

  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }

  .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
  }

  .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }

  .tabs-right > .nav-tabs > li > a:hover,
  .tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
  }

  .tabs-right > .nav-tabs .active > a,
  .tabs-right > .nav-tabs .active > a:hover,
  .tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
  }

  .btn-facebook {
    float: left;
  }
  .btn-google {
    float: right;
  }
}

p.eduid-strong {
  font-weight: 600;
}

/* Modals
--------------------------------------------------

h3.modal-title {
  color: #333;
}

div.modal-content > div.modal-header,
div.modal-content > div.modal-body,
div.modal-content > div.modal-footer {
  background-color: #bbded9;
  background-image: url(../img/texture.png);
}
div.modal-dialog {
  margin-top: 70px;
}

div.modal-dialog div.modal-footer {
  text-align: center;
}

div.modal-dialog div.modal-footer a {
  margin: 5px;
}

.modal-footer .btn {
  margin-bottom: 0px;
}

/* raise modal over menu 
.modal {
  z-index: 10000 !important;
}

/* End of Modals
-------------------------------------------------- */

/* Flash messages
--------------------------------------------------

.messages-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alert-danger {
  color: #a94442;
  background-color: transparent;
  border-color: #ebccd1;
  border: 2px solid #a94442;
  padding: 0.3em 1em;
}

@media only screen and (max-width: 991px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 768px) {
}

/* End of Messages
-------------------------------------------------- */
