#code-verify-lg .form-group {
    margin:0;
}
#code-verify-lg .input-group {
    display:block;
    text-align:center;
}

#code-verify-lg .input-group input {
    display:inline-block;
    max-width:320px;
    float:none;
    vertical-align:top;
    border-color:#fff;
    box-shadow:none;
}

#code-verify-lg .input-group-btn {
    display:inline-block;
    float:none;
}

#code-verify-lg .form-group,
#code-verify-lg .input-group {
    width:100%;
    margin-top:0;
    margin-bottom:0;
}

#code-verify-lg input {
    height: 45px;
    border-radius: 0;
    padding: 0 20px;
}

#code-verify {
    float:none;
}

#code-verify{
    margin: 20px auto 0;
}

#social-register {
    margin:30px auto 0;
}

#email-register-lg .form-group {
    margin:0;
}
#email-register-lg .input-group {
    display:block;
    text-align:center;
}
#email-register-lg .input-group input {
    display:inline-block;
    float:left;
    width:calc(100% - 370px);
    vertical-align:top;
    border-color:#fff;
    box-shadow:none;
    margin-right:10px;
    font-size:16px;
}
#email-register-lg .input-group-btn {
    display: inline-block;
    float: none;
    width: 360px;
    padding: 0;
}
#email-register-lg .input-group-btn .btn-success{
    width: 100%;
}

#email-register-lg .form-group,
#email-register-lg .input-group {
    width:100%;
    margin-top:15px;
    margin-bottom:10px;
}
#email-register-lg input {
    height: 45px;
    border-radius: 0;
    padding: 0 20px;
}
#email-register-lg .glyphicon-envelope,
#email-register-sm .glyphicon-envelope {
    width:19px;
    height:13px;
    background-image:url(../img/mail.png);
    margin-right:15px;
}
#email-register-lg .glyphicon-envelope:before,
#email-register-sm .glyphicon-envelope:before {
    display:none;
}
#email-register,
#social-register {
    float:none;
    margin:0 auto;
}

div.modal-content > div.modal-header > h3 {
    color: #fff;
}

/* Success */

.jumbotron.eduid-success,
.jumbotron.eduid-fetched-info {
    padding-bottom: 0px;
}

.jumbotron.eduid-success > h2,
.row.success-instructions h2,
.row.success-instructions p {
    text-align: center;
}

.row.success-instructions p {
    padding-bottom: 40px;
}

.row.success-instructions h2 {
    font-size: 40px;
}

.jumbotron.eduid-account-created {
    padding-bottom: 30px;
}

/* review fetched info */

div.eduid-fetched-info-form .form-control {
    height: 45px;
    border-radius: 0px;
    padding: 10px;
}

div.eduid-fetched-info-form {
    vertical-align: middle;
}
div#instructions_div .btn-success {
    margin-left:0px!important;
}

form.form-inline div.input-group p.help-block {
    text-align: center;
}

/* Buttons
    -------------------------------------------------------------------------------------- */

.btn-google .btn-icon {
    background: url("../img/google_icon_32.png") no-repeat scroll 10px 50% transparent;
}

.btn-facebook .btn-icon {
    background: url("../img/facebook_icon_32.png") no-repeat scroll 10px 50% transparent;
}

.btn-liveconnect .btn-icon {
    background: url("../img/liveconnect_icon_32.png") no-repeat scroll 10px 50% transparent;
    padding-right: 3px;
}

.btn-liveconnect,
.btn-liveconnect:hover {
    background-color: #58b78c;
    border-color: #58b78c;
}

.btn-google {
    background-color: rgb(204, 55, 50);
    border-color: rgb(204, 55, 50);
}
.btn-google:hover {
    background-color: rgb(231, 75, 55);
    border-color: rgb(231, 75, 55);
}

.btn-facebook {
    background-color: rgb(79, 106, 163);
    border-color: rgb(79, 106, 163);
}
.btn-facebook:hover {
    background-color: rgb(114, 136, 181);
    border-color: rgb(114, 136, 181);
}

.btn-facebook .btn-icon {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -42px -48px;
}
.btn-google .btn-icon {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -81px -48px;
    position: relative;
    left: -11px;
}
.btn-google .btn-text {
    position: relative;
    left: -10px;
}
.btn-google,
.btn-facebook,
.btn-liveconnect   {
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    padding: 0 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.btn-google .btn-text,
.btn-facebook  .btn-text,
.btn-liveconnect  .btn-text {
    color:#fff;
}
.btn-social {
    width:calc(50% - 5px);
    position: relative;
    margin: 10px auto;
}

.btn,
button[type=submit].btn {
    margin-top:0;
}

.row.eduid-resend-code .btn {
    display: inline-block;
}

#gotit_btn {
  margin: auto;
}

form.accept-cancel {
  margin-top: 20px;
}

.verification-code form {
    text-align: center;
}

.verification-code form p {
    text-align: left;
}
#input-code-verify,
#input-email-register {
    width:100%;
    height: 45px;
    padding:0 20px;
    border-radius: 0;
    box-shadow: none;
}

/* ReCaptcha */

div#eduid-captcha {
    text-align: center;
}

div#eduid-captcha-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

div#recaptcha_widget_div {
    margin-top: -100px;
    margin-bottom: 50px;
}
div#recaptcha_widget_div input#recaptcha_response_field {
    height: 22px;
    padding-left: 4px !important;
}

/* Center captcha */
.center-block {float: none !important;}

.media {
    width: 100%;
    height: 170px;
    background-image: url(../img/clouds.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
}
.media:first-child {
    margin-top: -40px;
}

@media only screen and (min-width: 1280px) {

    .header nav li {
        margin:0 20px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    .header nav li {
        margin:0 16px;
    }

}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
    .header {
        padding-left:23px;
        padding-right:20px;
    }
    .header .container {
        width:700px;
    }
    .header nav li {
        margin:0 13px;
    }
    .header nav li.button {
        padding:0 20px;
    }
    .header nav li a {
        font-size:14px;
    }

    .buttons .button a {
        font-size:14px;
        padding:25px;
    }

    #email-register-lg input,
    #code-verify-lg input {
        margin-bottom:10px;
    }
    .input-group-btn .btn {
        margin-left:0!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

    .btn-facebook {
        margin-left: 4px;
    }
    #email-register-lg input,
    #code-verify-lg input {
        margin-bottom:10px;
    }

}

@media only screen and (min-width: 768px) {

    #email-register-sm,
    #code-verify-sm {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    .btn,
    button[type=submit].btn {
        margin-top:10px;
    }
    /* Don't display  background clouds on small screens*/
    .media {
        display: none;
    }

  #email-register-lg,
  #code-verify-lg {
      display: none;
  }

  input#input-email-register,
  input#input-code-verify {
      max-width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
  }

    /* Texts */
    .jumbotron h1 {
        font-size:46px;
    }
    .jumbotron p.lead {
        font-size:18px;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        background: rgba(0,0,0,0.8);
        height: 50px;
        z-index: 9999;
        padding:0;
    }
    #header .container {
        padding:0;
    }

    /* Paddings */
    .container-fluid .jumbotron {
        padding-top:0!important;
        padding-bottom:0;
    }
    .jumbotron {
        padding:0;
    }

    .form-horizontal .form-group {
        margin-left:0;
    }
    #content-block {
        margin-top:70px;
    }


    /* Buttons */
    .btn-success,
    .btn {
        margin-left:auto!important;
        margin-right:auto;
        width:300px;
        max-width:100%;
        padding:0;
        font-size:13px
    }
    .btn-facebook .btn-text,
    .btn-text {
        border-right:0;
        padding-right:0;
        margin-right:0;
    }
    .btn-google,
    .btn-facebook,
    .btn-liveconnect {
        width:300px;
    }
    /* Footer */
    #footer,
    .footer {
        padding:20px 0;
        height:auto;
    }

    .modal-footer .btn-success {
        margin-top:20px;
    }
    div#eduid-modal-buttons {
        text-align: center;
    }
    div#eduid-modal-buttons a {
        margin-left: auto;
        margin-left: auto;
    }

    /* Pages */

    .form-group {
        width:100%;
    }

    div#eduid-logo-large {
        display: none;
    }

    ul.nav.navbar-nav li a {
        color: #eee;
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #CCC;
    }

    ul.nav.navbar-nav li a:hover {
        color: #aaa;
    }

    div#eduid-signup-menu > div.buttons.nav {
        float:none;
        margin-top: 10px;
        margin: 7.5px auto;
        padding: 0 60px;
        max-width:315px;
    }
    div#eduid-signup-menu > div.buttons.nav .button {
        margin-bottom:10px;
        text-align:center;
        padding:0;
        float:none;
        height:auto;
    }
    div#eduid-signup-menu > div.buttons.nav a {
        display:block;
        padding:10px 0;
        line-height:1em;
    }

    /* ReCaptcha */

    div#recaptcha_widget_div {
        margin-top: 0px;
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 768px) {
    .jumbotron p.lead {
        font-size:24px;
    }

    div#eduid-logo-small {
        display: none;
    }
    div#eduid-modal-buttons {
        text-align: center;
    }
    div.eduid-modal-button {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    div#eduid-modal-buttons a {
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width: 1279px) {

    ul.nav.navbar-nav li a {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media only screen and (max-width: 991px) {

    form.accept-cancel {
      text-align: center;
    }

    form.accept-cancel div,
    form.accept-cancel div button {
        display: inline-block;
        margin: auto;
    }
}
